	
	
	
	<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
	<% end %>







	
<h2 style="text-align: center;">Article</h2>

	<div class="container-fluid clearfix">
	<% @articles.each do |article| %>
	<div class="col-sm-3 .hah">
	<div class="box">
	<h4><%= article.title %></h4>
	<p><%= article.content%> 
	</p>
	<%= link_to 'View Detail', article_path(article.id) %>
	

 				<p>	
				<span><%= link_to 'Edit', edit_article_path(article.id) %></span>
				<span>|</span>	
				<span> <%= link_to 'Delete', article_path(article.id), method: "DELETE", data:{confirm: 'Delete this data ? '} %><span>
				</p>		
				</div>
				</div>
				<% end %>
				</p>
				</div>


				<div class="nav navbar-fixed-bottom">
				<div class="row">
		
	<div class="col-sm-3">	
	<%= page_entries_info @articles %>
   </div>
   <div class="col-sm-4">
   		<%= paginate @articles  %>
   </div>


</div>
</div>


	









